img {
	transition: all 1s;
	}
	img:hover {
		transform: scale(1.1);
	}

.text-block {
  position: absolute;
  bottom: 45px;
  right: 0px;
  background-color: red;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}